{% extends 'base.html' %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/services/httpService.js' %}"></script>
    <script src="{% static 'js/components/Display.js' %}"></script>
{% endblock  %}

{% block body %}
    <form onsubmit="setPasswordService.send(event)" action="{{ url }}"  id="change-password-form">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Set password" id="submit-password-button">
    </form>
<div id='message-box'></div>
<script>
    let messageBox = new Display({displayElem: $('#message-box')})
    let setPasswordService = new httpService({
        successHandlers: [
            (_, status) => {
                if (status === 'success') {
                    messageBox.flash('<p>Changed password!</p>')
                }
            } 
        ], 
        ajaxSettings: {
            method: 'patch'
        }
    })
</script>
{% endblock %}



