[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
app-libraries = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "*"

[requires]
python_version = "3.10"
