[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
project-applications = {editable = true, path = "."}
django-ninja = "*"
pytz = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
black = "*"
sqlalchemy = "*"
selenium = "*"

[requires]
python_version = "3.10"
